*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0d0d0d ;
}
h1{
    word-spacing: 5px;
    letter-spacing: 5px;
    margin: 50px;
    text-align: center;
    color: #4fc3f7 ;
    font-size: 3rem;
    text-shadow: 0 0 5px #8a2be2,  
                 0 0 10px #8a2be2,
                 0 0 15px #4b0082,  
                 0 0 20px #4b0082,
                 0 0 30px #0000ff;  
}
section {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    perspective: 1000px;
}

.item {
    height: 200px;
    width: 100px;
    overflow: hidden; 
    margin-left: 25px;
    position: relative;
    transition: transform 0.3s;
}

.item img {
    height: 100%;
    width: 100%; 
    object-fit: cover; 
    filter: brightness(0);
    transition: filter 0.3s
}

.item img:hover {
    filter: brightness(1);
}

.item:hover {
    transform: translateZ(50px);
    z-index: 15;
}
.item img:hover + .item img{
    filter: brightness(0.6);
    transform: translateZ(80px) rotateY(40deg);
}
